<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('统计分析列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">

    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">年</span>
                    <h5>教学资源</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">16,608</h1>
                    <div class="stat-percent font-bold text-success">25% <i class="fa fa-level-up"></i>
                    </div>
                    <small>总数量</small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">月</span>
                    <h5>设备出入库</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">110</h1>
                    <div class="stat-percent font-bold text-info">10% <i class="fa fa-level-up"></i>
                    </div>
                    <small>新记录</small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">本学期</span>
                    <h5>教学计划</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">160</h1>
                    <div class="stat-percent font-bold text-navy">24% <i class="fa fa-level-up"></i>
                    </div>
                    <small>新计划</small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">2018-2019学年</span>
                    <h5>顶岗实习</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">168</h1>
                    <div class="stat-percent font-bold text-danger">8% <i class="fa fa-level-down"></i>
                    </div>
                    <small>申请记录</small>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">2019年</span>
                    <h5>创新创业</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">22</h1>
                    <div class="stat-percent font-bold text-success">12% <i class="fa fa-level-up"></i>
                    </div>
                    <small>经营店铺</small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">最近一个月</span>
                    <h5>访客</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">1,234</h1>
                    <div class="stat-percent font-bold text-danger">18% <i class="fa fa-level-down"></i>
                    </div>
                    <small>5月</small>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:include="include :: footer"></div>

</body>
</html>