<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射文件配置：namespace指向接口-->
<mapper namespace="cn.duojunrui.etims.mapper.TeachMaterialsMapper">

    <!--查询所有教学资料-->
    <select id="findTeachFilesAll" resultType="java.util.LinkedHashMap">
        SELECT *
        FROM teach_materials
        WHERE category = "教学资料" AND validity=1
    </select>

    <!--通过文件名查询资料-->
    <select id="findFilesByName" resultType="cn.duojunrui.etims.entity.TeachMaterials">
        SELECT *
        FROM teach_materials
        WHERE file_name = #{fileName} AND category = "教学资料" AND validity=1
    </select>

    <!--上传教学资料-->
    <insert id="addTeachFiles" parameterType="cn.duojunrui.etims.entity.TeachMaterials">
        INSERT INTO
        teach_materials(
            teach_materials_id,file_name,course_type,category,
            uploader,file_map,create_time,validity
        )
        VALUES (
            #{teachMaterialsId},#{fileName},#{courseType},#{category},
            #{uploader},#{fileMap},#{createTime},#{validity}
        )
    </insert>

    <!--更新、修改教学资料-->
    <update id="updateTeachFiles" parameterType="cn.duojunrui.etims.entity.TeachMaterials">
        UPDATE teach_materials
        <set>
            <if test="fileName!=null">file_name=#{fileName},</if>
            <if test="fileName!=null">course_type=#{fileName},</if>
            <if test="fileName!=null">category=#{fileName},</if>
            <if test="fileName!=null">file_map=#{fileName},</if>
            <if test="fileName!=null">updateTime=#{fileName}</if>
        </set>
        WHERE teach_materials_id=#{teachMaterialsId}
    </update>

    <!--删除教学资料 软删除-->
    <delete id="deleteTeachFiles">
        UPDATE teach_materials
        SET validity = 0
        WHERE teach_materials_id=#{teachMaterialsId}
    </delete>
</mapper>