<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('考核成绩列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li>
                            学期：<select name="semester" th:with="type=${@dict.getType('mod_term')}">
                            <option value="">所有学期</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>

                        <li>
                            课程序号：<input type="text" name="courseId"/>
                        </li>

                        <li>
                            课程名称：<input type="text" name="courseName"/>
                        </li>

                        <li>
                            考核类型：<select name="checkType" th:with="type=${@dict.getType('mod_exam_type')}">
                            <option value="">所有类型</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:grade:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="module:grade:edit">
                <i class="fa fa-edit"></i> 成绩录入
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="module:grade:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="module:grade:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:grade:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:grade:remove')}]];
    var checkTypes = [[${@dict.getType('mod_exam_type')}]];
    var prefix = ctx + "module/grade";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "考核成绩",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'gradeId',
                    title: '考核成绩管理',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'semester',
                    title: '学期',
                    sortable: true
                },
                {
                    field: 'courseId',
                    title: '课程序号',
                    sortable: true
                },
                {
                    field: 'courseName',
                    title: '课程名称',
                    sortable: true
                },
                {
                    field: 'courseCredit',
                    title: '课程学分',
                    sortable: true
                },
                {
                    field: 'stuId',
                    title: '学生学号',
                    sortable: true
                },
                {
                    field: 'stuName',
                    title: '学生姓名',
                    sortable: true
                },
                {
                    field: 'usualScore',
                    title: '平时成绩',
                    sortable: true
                },
                {
                    field: 'examScore',
                    title: '考核成绩',
                    sortable: true
                },
                {
                    field: 'totalScore',
                    title: '总评成绩',
                    sortable: true
                },
                {
                    field: 'checkType',
                    title: '考核类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(checkTypes, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.gradeId + '\')"><i class="fa fa-edit"></i>成绩录入</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.gradeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>