<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('教学资源列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            课程名称：<input type="text" name="course"/>
                        </li>

                        <li>
                            资料分类：<select name="category" th:with="type=${@dict.getType('mod_material_category')}">
                            <option value="">所有资料</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>

                        <li>
                            资料名称：<input type="text" name="fileName"/>
                        </li>

                        <li>
                            上传者：<input type="text" name="uploader"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:material:add">
                <i class="fa fa-plus"></i> 上传
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="module:material:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="module:material:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="module:material:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:material:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:material:remove')}]];
    var categoryTypes = [[${@dict.getType('mod_material_category')}]];
    var fileTypes = [[${@dict.getType('mod_material_file_type')}]];
    var prefix = ctx + "module/material";

    function downloadFile(materialId){
        window.location.href = ctx + "module/material/downloadFile/" + materialId;
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "教学资源",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'materialId',
                    title: '教学资源表ID主键',
                    visible: false
                },
                {
                    field: 'id',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'course',
                    title: '课程名称',
                    sortable: true
                },
                {
                    field: 'category',
                    title: '资料分类',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(categoryTypes, value);
                    }
                },
                {
                    field: 'fileName',
                    title: '资料名称',
                    sortable: true
                },
                {
                    field: 'uploader',
                    title: '上传者',
                    sortable: true
                },
                {
                    field: 'fileType',
                    title: '文件类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(fileTypes, value);
                    }
                },
                {
                    field: 'fileSize',
                    title: '文件大小',
                    sortable: true
                },
                {
                    field: 'downloadCount',
                    title: '下载次数',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '上传时间',
                    sortable: true
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" onclick="downloadFile()"><i class="fa fa-edit"></i>下载</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>