<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duojunrui.etims.mapper.PracticeMaterialMapper">

    <select id="listPracticeFile" resultType="cn.duojunrui.etims.entity.PracticeMaterial">
        SELECT *
        FROM practice_material
    </select>

    <select id="getByName" resultType="cn.duojunrui.etims.entity.PracticeMaterial">
        SELECT *
        FROM practice_material
        WHERE student_name = #{name}
    </select>

    <insert id="insertPracticeMaterial" parameterType="cn.duojunrui.etims.entity.PracticeMaterial">
        INSERT INTO
        `etims_database`.`practice_material`(
        `id`, `student_name`, `student_department`,
         `student_class`, `student_number`, `company_name`,
          `company_address`, `position`, `start_time`, `end_time`,
           `principal_name`, `principal_tel`, `file_map`,
            `apply_status`, `apply_time`, `apply_reply`,
             `create_time`, `update_time`, `is_deleted`
             )
        VALUES (
          #{id}, #{student_name}, #{student_department}, #{student_class},
            #{student_number}, #{company_name}, #{company_address}, #{position},
             #{start_time}, #{end_time}, #{principal_name}, #{principal_tel}, #{file_map},
              #{apply_status}, #{apply_time}, #{apply_reply}, #{create_time}, #{update_time}, #{is_deleted}
        )
    </insert>

    <update id="updatePracticeMaterial" parameterType="cn.duojunrui.etims.entity.PracticeMaterial">
        UPDATE practice_material
        <set>
            <if test="companyName!=null">company_name=#{companyName},</if>
            <if test="companyAddress!=null">company_address=#{companyAddress},</if>
            <if test="position!=null">`position`=#{position},</if>
            <if test="startTime!=null">start_time=#{startTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="principalName!=null">principal_name=#{principalName},</if>
            <if test="principalTel!=null">principal_tel=#{principalTel},</if>
            <if test="fileMap!=null">file_map=#{fileMap},</if>
            <if test="applyReply!=null">apply_reply=#{applyReply},</if>
        </set>
        apply_status=#{applyStatus},
        apply_time=#{applyTime},
        update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="cn.duojunrui.etims.entity.PracticeMaterial">
        DELETE
    </delete>
</mapper>