<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射文件配置：namespace指向接口-->
<mapper namespace="cn.duojunrui.etims.mapper.TeachMaterialMapper">

    <!--查询所有教学资料-->
    <select id="listTeachFileAll" resultType="cn.duojunrui.etims.entity.TeachMaterial">
        SELECT *
        FROM teach_material
        WHERE category = "教学资料" AND is_deleted=0
    </select>

    <!--通过文件名查询资料-->
    <select id="listFileByName" resultType="cn.duojunrui.etims.entity.TeachMaterial">
        SELECT *
        FROM teach_material
        WHERE file_name = #{fileName} AND category = "教学资料" AND is_deleted=0
    </select>

    <!--上传教学资料-->
    <insert id="insertTeachFile" parameterType="cn.duojunrui.etims.entity.TeachMaterial">
        INSERT INTO
        teach_material(
            id,file_name,course_type,category,
            uploader,file_map,create_time,is_deleted
        )
        VALUES (
            #{id},#{fileName},#{courseType},#{category},
            #{uploader},#{fileMap},#{createTime},#{isDeleted}
        )
    </insert>

    <!--更新、修改教学资料-->
    <update id="updateTeachFile" parameterType="cn.duojunrui.etims.entity.TeachMaterial">
        UPDATE teach_material
        <set>
            <if test="fileName!=null">file_name=#{fileName},</if>
            <if test="fileName!=null">course_type=#{fileName},</if>
            <if test="fileName!=null">category=#{fileName},</if>
            <if test="fileName!=null">file_map=#{fileName},</if>
            <if test="fileName!=null">updateTime=#{fileName}</if>
        </set>
        WHERE id=#{id}
    </update>

    <!--删除教学资料 软删除-->
    <delete id="deleteTeachFile">
        UPDATE teach_material
        SET is_deleted = 1
        WHERE id=#{id}
    </delete>
</mapper>