<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duojunrui.etims.mapper.UserinfoMapper">

    <insert id="insertUser" parameterType="cn.duojunrui.etims.entity.Userinfo">
        INSERT INTO
        userinfo (
        id, user_id, password, user_role,
        check_status, create_time, is_deleted
        )
        VALUES (
        #{id}, #{userId}, #{password}, #{userRole},
        #{checkStatus}, #{createTime}, #{isDeleted}
        )
    </insert>
</mapper>