<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增实验室设备')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-equipment-add">

        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-6 control-label">所属实验室：</label>
                <div class="col-sm-6">
                    <input id="labName" name="labName" class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-8">
                <label class="col-sm-3 control-label">设备名称：</label>
                <div class="col-sm-9">
                    <input id="equipmentName" name="equipmentName" class="form-control" type="text">
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-6 control-label">设备数量：</label>
                <div class="col-sm-6">
                    <input id="equipmentCount" name="equipmentCount" class="form-control" type="text">
                </div>
            </div>
            <div class="col-sm-8">
                <label class="col-sm-3 control-label">设备用途：</label>
                <div class="col-sm-9">
                    <input id="equipmentUse" name="equipmentUse" class="form-control" type="text">
                </div>
            </div>
        </div>
        <br>

        <div class="row">
                <label class="col-sm-2 control-label">入库备注：</label>
                <div class="col-sm-9">
                    <input id="intputRemark" name="intputRemark" class="form-control" type="text">
                </div>
        </div>
        <br>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "module/equipment"
    $("#form-equipment-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-equipment-add').serialize());
        }
    }
</script>
</body>
</html>
