<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('实验室设备列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            所属实验室：<input type="text" name="labName"/>
                        </li>

                        <li>
                            设备名称：<input type="text" name="equipmentName"/>
                        </li>

                        <li>
                            入库操作人：<input type="text" name="inputUser"/>
                        </li>

                        <li>
                            出库操作人：<input type="text" name="outputUser"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:equipment:add">
                <i class="fa fa-plus"></i> 设备入库
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="module:equipment:edit">
                <i class="fa fa-edit"></i> 入库信息修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="module:equipment:remove">
                <i class="fa fa-remove"></i> 设备仓储信息删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()"-->
               <!--shiro:hasPermission="module:equipment:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    //var editFlag = [[${@permission.hasPermi('module:equipment:edit')}]];
    var outputFlag = [[${@permission.hasPermi('module:equipment:output')}]];
    var inputFlag = [[${@permission.hasPermi('module:equipment:inputFlag')}]];
    var prefix = ctx + "module/equipment";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "实验室设备",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'equipmentId',
                    title: '实验室设备表id',
                    visible: false
                },
                {
                    field: 'id',
                    title: '序号',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'labName',
                    title: '所属实验室',
                    sortable: true
                },
                {
                    field: 'equipmentName',
                    title: '设备名称',
                    sortable: true
                },
                {
                    field: 'equipmentCount',
                    title: '设备数量',
                    sortable: true
                },
                {
                    field: 'equipmentUse',
                    title: '设备用途',
                    sortable: true
                },
                {
                    field: 'inputTime',
                    title: '入库时间',
                    sortable: true
                },
                {
                    field: 'inputUser',
                    title: '入库操作人',
                    sortable: true
                },
                {
                    field: 'intputRemark',
                    title: '入库备注',
                    sortable: true
                },
                {
                    field: 'outputTime',
                    title: '出库时间',
                    sortable: true
                },
                {
                    field: 'outputUser',
                    title: '出库操作人',
                    sortable: true
                },
                {
                    field: 'outputRemark',
                    title: '出库备注',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + outputFlag + '" href="#" onclick="$.operate.edit(\'' + row.equipmentId + '\')"><i class="fa fa-edit"></i>出库登记</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + inputFlag + '" href="#" onclick="$.operate.edit(\'' + row.equipmentId + '\')"><i class="fa fa-edit"></i>归还登记</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>