<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('实验室设备列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            所属实验室：<input type="text" name="labName"/>
                        </li>

                        <li>
                            设备名称：<input type="text" name="equipmentName"/>
                        </li>

                        <li>
                            操作状态：<select name="operateStatus" th:with="type=${@dict.getType('mod_equipment_operate_status')}">
                            <option value="">所有状态</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>

                        <li>
                            登记人：<input type="text" name="register"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:equipment:add">
                <i class="fa fa-plus"></i> 出入库
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="module:equipment:edit">
                <i class="fa fa-edit"></i> 信息修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="module:equipment:remove">
                <i class="fa fa-remove"></i> 仓储信息删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="module:equipment:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:equipment:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:equipment:remove')}]];
    var operateStatus = [[${@dict.getType('mod_equipment_operate_status')}]];
    var prefix = ctx + "module/equipment";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "实验室设备",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'equipmentId',
                    title: '实验室设备表id',
                    visible: false
                },
                {
                    field: 'id',
                    title: '序号',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'labName',
                    title: '所属实验室',
                    sortable: true
                },
                {
                    field: 'equipmentName',
                    title: '设备名称',
                    sortable: true
                },
                {
                    field: 'equipmentCount',
                    title: '设备数量',
                    sortable: true
                },
                {
                    field: 'equipmentUse',
                    title: '设备用途',
                    sortable: true
                },
                {
                    field: 'operateStatus',
                    title: '操作状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(operateStatus, value);
                    }
                },
                {
                    field: 'operateTime',
                    title: '出入库时间',
                    sortable: true
                },
                {
                    field: 'register',
                    title: '登记人',
                    sortable: true
                },
                {
                    field: 'remark',
                    title: '出入库备注',
                    sortable: true
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>