<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duojunrui.etims.project.module.material.mapper.MaterialMapper">

    <resultMap type="Material" id="MaterialResult">
        <result property="materialId" column="material_id"/>
        <result property="course" column="course"/>
        <result property="category" column="category"/>
        <result property="fileName" column="file_name"/>
        <result property="uploader" column="uploader"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileType" column="file_type"/>
        <result property="downloadCount" column="download_count"/>
        <result property="filePath" column="file_path"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMaterialVo">
        select material_id, course, category, file_name, uploader, file_size, file_type, download_count, file_path, create_time, update_time, del_flag        from mod_material
    </sql>

    <select id="selectMaterialList" parameterType="Material" resultMap="MaterialResult">
        <include refid="selectMaterialVo"/>
        <where>
            <if test="materialId != null ">and material_id = #{materialId}
            </if>
            <if test="course != null  and course != '' ">and course = #{course}
            </if>
            <if test="category != null  and category != '' ">and category = #{category}
            </if>
            <if test="fileName != null  and fileName != '' ">and file_name like '%${fileName}%'
            </if>
            <if test="uploader != null  and uploader != '' ">and uploader = #{uploader}
            </if>
            <if test="fileSize != null  and fileSize != '' ">and file_size = #{fileSize}
            </if>
            <if test="fileType != null  and fileType != '' ">and file_type = #{fileType}
            </if>
            <if test="downloadCount != null  and downloadCount != '' ">and download_count = #{downloadCount}
            </if>
            <if test="filePath != null  and filePath != '' ">and file_path = #{filePath}
            </if>
            <if test="createTime != null ">and create_time = #{createTime}
            </if>
            <if test="updateTime != null ">and update_time = #{updateTime}
            </if>
            <if test="delFlag != null  and delFlag != '' ">and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <select id="selectMaterialById" parameterType="Long" resultMap="MaterialResult">
        <include refid="selectMaterialVo"/>
        where material_id = #{materialId}
    </select>

    <insert id="insertMaterial" parameterType="Material" useGeneratedKeys="true" keyProperty="materialId">
        insert into mod_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="course != null  and course != ''  ">course,
            </if>
            <if test="category != null  and category != ''  ">category,
            </if>
            <if test="fileName != null  and fileName != ''  ">file_name,
            </if>
            <if test="uploader != null  and uploader != ''  ">uploader,
            </if>
            <if test="fileSize != null  and fileSize != ''  ">file_size,
            </if>
            <if test="fileType != null  and fileType != ''  ">file_type,
            </if>
            <if test="downloadCount != null  and downloadCount != ''  ">download_count,
            </if>
            <if test="filePath != null  and filePath != ''  ">file_path,
            </if>
            <if test="createTime != null  ">create_time,
            </if>
            <if test="updateTime != null  ">update_time,
            </if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="course != null  and course != ''  ">#{course},
            </if>
            <if test="category != null  and category != ''  ">#{category},
            </if>
            <if test="fileName != null  and fileName != ''  ">#{fileName},
            </if>
            <if test="uploader != null  and uploader != ''  ">#{uploader},
            </if>
            <if test="fileSize != null  and fileSize != ''  ">#{fileSize},
            </if>
            <if test="fileType != null  and fileType != ''  ">#{fileType},
            </if>
            <if test="downloadCount != null  and downloadCount != ''  ">#{downloadCount},
            </if>
            <if test="filePath != null  and filePath != ''  ">#{filePath},
            </if>
            <if test="createTime != null  ">#{createTime},
            </if>
            <if test="updateTime != null  ">#{updateTime},
            </if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},
            </if>
        </trim>
    </insert>

    <update id="updateMaterial" parameterType="Material">
        update mod_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="course != null  and course != ''  ">course = #{course},
            </if>
            <if test="category != null  and category != ''  ">category = #{category},
            </if>
            <if test="fileName != null  and fileName != ''  ">file_name = #{fileName},
            </if>
            <if test="uploader != null  and uploader != ''  ">uploader = #{uploader},
            </if>
            <if test="fileSize != null  and fileSize != ''  ">file_size = #{fileSize},
            </if>
            <if test="fileType != null  and fileType != ''  ">file_type = #{fileType},
            </if>
            <if test="downloadCount != null  and downloadCount != ''  ">download_count = #{downloadCount},
            </if>
            <if test="filePath != null  and filePath != ''  ">file_path = #{filePath},
            </if>
            <if test="createTime != null  ">create_time = #{createTime},
            </if>
            <if test="updateTime != null  ">update_time = #{updateTime},
            </if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},
            </if>
        </trim>
        where material_id = #{materialId}
    </update>

    <delete id="deleteMaterialById" parameterType="Long">
        delete from mod_material where material_id = #{materialId}
    </delete>

    <delete id="deleteMaterialByIds" parameterType="String">
        delete from mod_material where material_id in
        <foreach item="materialId" collection="array" open="(" separator="," close=")">
            #{materialId}
        </foreach>
    </delete>

</mapper>