<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改创业园店铺')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-store-edit" th:object="${store}">
        <input id="storeId" name="storeId" th:field="*{storeId}"
               type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">学生姓名：</label>
            <div class="col-sm-8">
                <input id="stuName" name="stuName" th:field="*{stuName}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学生系别：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select name="stuDepart" class="form-control m-b" th:with="type=${@dict.getType('mod_student_department')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{stuDepart}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学生班级：</label>
            <div class="col-sm-8">
                <input id="stuClass" name="stuClass" th:field="*{stuClass}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生学号：</label>
            <div class="col-sm-8">
                <input id="stuNum" name="stuNum" th:field="*{stuNum}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">店铺名称：</label>
            <div class="col-sm-8">
                <input id="shopName" name="shopName" th:field="*{shopName}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">店铺地址：</label>
            <div class="col-sm-8">
                <input id="shopAddress" name="shopAddress" th:field="*{shopAddress}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">经营范围：</label>
            <div class="col-sm-8">
                <input id="businessScope" name="businessScope" th:field="*{businessScope}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">租约开始时间：</label>
            <div class="col-sm-8">
                <input id="rentStartTime" name="rentStartTime" th:field="*{rentStartTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">租约结束时间：</label>
            <div class="col-sm-8">
                <input id="rentEndTime" name="rentEndTime" th:field="*{rentEndTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">指导老师：</label>
            <div class="col-sm-8">
                <input id="adviser" name="adviser" th:field="*{adviser}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">审核状态：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select name="applyStatus" class="form-control m-b" th:with="type=${@dict.getType('mod_apply_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{applyStatus}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">申请驳回反馈：</label>
            <div class="col-sm-8">
                <input id="applyReply" name="applyReply" th:field="*{applyReply}"
                       class="form-control" type="text">
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "module/store";
    $("#form-store-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-store-edit').serialize());
        }
    }
</script>
</body>
</html>
