<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增顶岗实习')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-practice-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">学生姓名：</label>
            <div class="col-sm-8">
                <input id="studentName" name="studentName" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学生系别：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select name="studentDepartment" class="form-control m-b"
                            th:with="type=${@dict.getType('mod_student_department')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学生班级：</label>
            <div class="col-sm-8">
                <input id="studentClass" name="studentClass" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生学号：</label>
            <div class="col-sm-8">
                <input id="studentNumber" name="studentNumber" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业名称：</label>
            <div class="col-sm-8">
                <input id="companyName" name="companyName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司地址：</label>
            <div class="col-sm-8">
                <input id="companyAddress" name="companyAddress" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实习岗位：</label>
            <div class="col-sm-8">
                <input id="position" name="position" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开始时间：</label>
            <div class="col-sm-8">
                <input id="startTime" name="startTime" class="form-control" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-8">
                <input id="endTime" name="endTime" class="form-control" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业负责人姓名：</label>
            <div class="col-sm-8">
                <input id="principalName" name="principalName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业负责人电话：</label>
            <div class="col-sm-8">
                <input id="principalTel" name="principalTel" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">申请文件材料：</label>
            <div class="col-sm-8">
                <input id="filePath" name="filePath" class="form-control" type="file">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "module/practice"
    $("#form-practice-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-practice-add').serialize());
        }
    }
</script>
</body>
</html>
