<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改顶岗实习')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-practice-edit" th:object="${practice}">
        <input id="practiceId" name="practiceId" th:field="*{practiceId}"
               type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">学生姓名：</label>
            <div class="col-sm-8">
                <input id="studentName" name="studentName" th:field="*{studentName}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生系别：</label>
            <div class="col-sm-8">
                <input id="studentDepartment" name="studentDepartment" th:field="*{studentDepartment}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生班级：</label>
            <div class="col-sm-8">
                <input id="studentClass" name="studentClass" th:field="*{studentClass}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生学号：</label>
            <div class="col-sm-8">
                <input id="studentNumber" name="studentNumber" th:field="*{studentNumber}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业名称：</label>
            <div class="col-sm-8">
                <input id="companyName" name="companyName" th:field="*{companyName}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司地址：</label>
            <div class="col-sm-8">
                <input id="companyAddress" name="companyAddress" th:field="*{companyAddress}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实习实践岗位：</label>
            <div class="col-sm-8">
                <input id="position" name="position" th:field="*{position}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实习开始时间：</label>
            <div class="col-sm-8">
                <input id="startTime" name="startTime" th:field="*{startTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实习结束时间：</label>
            <div class="col-sm-8">
                <input id="endTime" name="endTime" th:field="*{endTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业负责人姓名：</label>
            <div class="col-sm-8">
                <input id="principalName" name="principalName" th:field="*{principalName}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业负责人电话：</label>
            <div class="col-sm-8">
                <input id="principalTel" name="principalTel" th:field="*{principalTel}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">申请文件材料：</label>
            <div class="col-sm-8">
                <input id="filePath" name="filePath" th:field="*{filePath}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">审核状态(0表示已提交，1表示审核中，2表示审核通过，3表示审核不通过)：</label>
            <div class="col-sm-8">
                <input id="applyStatus" name="applyStatus" th:field="*{applyStatus}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">提交时间：</label>
            <div class="col-sm-8">
                <input id="applyTime" name="applyTime" th:field="*{applyTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">驳回反馈：</label>
            <div class="col-sm-8">
                <input id="applyReply" name="applyReply" th:field="*{applyReply}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-8">
                <input id="createTime" name="createTime" th:field="*{createTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">更新时间：</label>
            <div class="col-sm-8">
                <input id="updateTime" name="updateTime" th:field="*{updateTime}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">删除标志（0代表存在 1代表删除）：</label>
            <div class="col-sm-8">
                <input id="delFlag" name="delFlag" th:field="*{delFlag}"
                       class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "module/practice";
    $("#form-practice-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-practice-edit').serialize());
        }
    }
</script>
</body>
</html>
