<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改顶岗实习')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-practice-edit" th:object="${practice}">
        <input id="practiceId" name="practiceId" th:field="*{practiceId}"
               type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">学生姓名：</label>
            <div class="col-sm-8">
                <input id="studentName" name="studentName" th:field="*{studentName}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学生系别：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select name="studentDepartment" class="form-control m-b" th:with="type=${@dict.getType('mod_student_department')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{studentDepartment}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">学生班级：</label>
            <div class="col-sm-8">
                <input id="studentClass" name="studentClass" th:field="*{studentClass}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">学生学号：</label>
            <div class="col-sm-8">
                <input id="studentNumber" name="studentNumber" th:field="*{studentNumber}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业名称：</label>
            <div class="col-sm-8">
                <input id="companyName" name="companyName" th:field="*{companyName}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司地址：</label>
            <div class="col-sm-8">
                <input id="companyAddress" name="companyAddress" th:field="*{companyAddress}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">实习实践岗位：</label>
            <div class="col-sm-8">
                <input id="position" name="position" th:field="*{position}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业负责人姓名：</label>
            <div class="col-sm-8">
                <input id="principalName" name="principalName" th:field="*{principalName}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">企业负责人电话：</label>
            <div class="col-sm-8">
                <input id="principalTel" name="principalTel" th:field="*{principalTel}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">审核状态：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select name="applyStatus" class="form-control m-b" th:with="type=${@dict.getType('mod_apply_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                th:value="${dict.dictValue}" th:field="*{applyStatus}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">驳回反馈：</label>
            <div class="col-sm-8">
                <input id="applyReply" name="applyReply" th:field="*{applyReply}"
                       class="form-control" type="text">
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "module/practice";
    $("#form-practice-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-practice-edit').serialize());
        }
    }
</script>
</body>
</html>
