<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('顶岗实习列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            学生姓名：<input type="text" name="studentName"/>
                        </li>

                        <li>
                            学生系别：<select name="studentDepartment" th:with="type=${@dict.getType('mod_student_department')}">
                            <option value="">所有系别</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>

                        <li>
                            审核状态：<select name="applyStatus" th:with="type=${@dict.getType('mod_apply_status')}">
                            <option value="">所有状态</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:practice:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="module:practice:edit">
                <i class="fa fa-edit"></i> 审核
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="module:practice:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()"-->
               <!--shiro:hasPermission="module:practice:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:practice:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:practice:remove')}]];
    var applyStatus = [[${@dict.getType('mod_apply_status')}]];
    var depType = [[${@dict.getType('mod_student_department')}]];
    var prefix = ctx + "module/practice";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "顶岗实习",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'practiceId',
                    title: '实习单位材料',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'studentDepartment',
                    title: '系别',
                    sortable: true
                },
                {
                    field: 'studentName',
                    title: '学生姓名',
                    sortable: true
                },
                {
                    field: 'studentNumber',
                    title: '学号',
                    sortable: true
                },
                {
                    field: 'companyName',
                    title: '企业名称',
                    sortable: true
                },
                {
                    field: 'position',
                    title: '实习岗位',
                    sortable: true
                },
                {
                    field: 'startTime',
                    title: '开始时间',
                    sortable: true
                },
                {
                    field: 'endTime',
                    title: '结束时间',
                    sortable: true
                },
                {
                    field: 'applyStatus',
                    title: '审核状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(applyStatus, value);
                    }
                },
                {
                    field: 'applyTime',
                    title: '提交时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.practiceId + '\')"><i class="fa fa-edit"></i>详情</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>